<a href="https://colab.research.google.com/github/M-Borsuk/FakeNewsClassifier/blob/main/FakeNewsClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [166]:
import pandas as pd
import string
import nltk
import re
import numpy as np
import tensorflow
import keras
import matplotlib.pyplot as plt
from nltk.stem import WordNetLemmatizer,PorterStemmer
from nltk.corpus import stopwords
from tensorflow.keras.models import load_model
from tensorflow.keras.callbacks import ReduceLROnPlateau
from tensorflow.keras.layers import Embedding,BatchNormalization,Dropout
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.text import one_hot, Tokenizer
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download('wordnet')
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [167]:
df_train = pd.read_csv("/content/drive/My Drive/NLPFakeNews/train.csv")

df_test = pd.read_csv("/content/drive/My Drive/NLPFakeNews/test.csv")

In [168]:
df_train.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [169]:
df_test.head()

      id  ...                                               text
0  20800  ...  PALO ALTO, Calif.  —   After years of scorning...
1  20801  ...  Russian warships ready to strike terrorists ne...
2  20802  ...  Videos #NoDAPL: Native American Leaders Vow to...
3  20803  ...  If at first you don’t succeed, try a different...
4  20804  ...  42 mins ago 1 Views 0 Comments 0 Likes 'For th...

[5 rows x 4 columns]

In [170]:
df_test.shape

(5200, 4)

In [171]:
df_train.shape

(20800, 5)

In [172]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [173]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5200 entries, 0 to 5199
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      5200 non-null   int64
 1   title   5078 non-null   object
 2   author  4697 non-null   object
 3   text    5193 non-null   object
dtypes: int64(1), object(3)
memory usage: 162.6+ KB

In [174]:
df_train.text[0]

'House Dem Aide: We Didn’t Even See Comey’s Letter Until Jason Chaffetz Tweeted It By Darrell Lucus on October 30, 2016 Subscribe Jason Chaffetz on the stump in American Fork, Utah ( image courtesy Michael Jolley, available under a Creative Commons-BY license) \nWith apologies to Keith Olbermann, there is no doubt who the Worst Person in The World is this week–FBI Director James Comey. But according to a House Democratic aide, it looks like we also know who the second-worst person is as well. It turns out that when Comey sent his now-infamous letter announcing that the FBI was looking into emails that may be related to Hillary Clinton’s email server, the ranking Democrats on the relevant committees didn’t hear about it from Comey. They found out via a tweet from one of the Republican committee chairmen. \nAs we now know, Comey notified the Republican chairmen and Democratic ranking members of the House Intelligence, Judiciary, and Oversight committees that his agency was reviewing emails it had recently discovered in order to see if they contained classified information. Not long after this letter went out, Oversight Committee Chairman Jason Chaffetz set the political world ablaze with this tweet. FBI Dir just informed me, "The FBI has learned of the existence of emails that appear to be pertinent to the investigation." Case reopened \n— Jason Chaffetz (@jasoninthehouse) October 28, 2016 \nOf course, we now know that this was not the case . Comey was actually saying that it was reviewing the emails in light of “an unrelated case”–which we now know to be Anthony Weiner’s sexting with a teenager. But apparently such little things as facts didn’t matter to Chaffetz. The Utah Republican had already vowed to initiate a raft of investigations if Hillary wins–at least two years’ worth, and possibly an entire term’s worth of them. Apparently Chaffetz thought the FBI was already doing his work for him–resulting in a tweet that briefly roiled the nation before cooler heads realized it was a dud. \nBut according to a senior House Democratic aide, misreading that letter may have been the least of Chaffetz’ sins. That aide told Shareblue that his boss and other Democrats didn’t even know about Comey’s letter at the time–and only found out when they checked Twitter. “Democratic Ranking Members on the relevant committees didn’t receive Comey’s letter until after the Republican Chairmen. In fact, the Democratic Ranking Members didn’ receive it until after the Chairman of the Oversight and Government Reform Committee, Jason Chaffetz, tweeted it out and made it public.” \nSo let’s see if we’ve got this right. The FBI director tells Chaffetz and other GOP committee chairmen about a major development in a potentially politically explosive investigation, and neither Chaffetz nor his other colleagues had the courtesy to let their Democratic counterparts know about it. Instead, according to this aide, he made them find out about it on Twitter. \nThere has already been talk on Daily Kos that Comey himself provided advance notice of this letter to Chaffetz and other Republicans, giving them time to turn on the spin machine. That may make for good theater, but there is nothing so far that even suggests this is the case. After all, there is nothing so far that suggests that Comey was anything other than grossly incompetent and tone-deaf. \nWhat it does suggest, however, is that Chaffetz is acting in a way that makes Dan Burton and Darrell Issa look like models of responsibility and bipartisanship. He didn’t even have the decency to notify ranking member Elijah Cummings about something this explosive. If that doesn’t trample on basic standards of fairness, I don’t know what does. \nGranted, it’s not likely that Chaffetz will have to answer for this. He sits in a ridiculously Republican district anchored in Provo and Orem; it has a Cook Partisan Voting Index of R+25, and gave Mitt Romney a punishing 78 percent of the vote in 2012. Moreover, the Republican House leadership has given its full support to Chaffetz’ planned fishing expedition. But that doesn’t mean we can’t turn the hot lights on him. After all, he is a textbook example of what the House has become under Republican control. And he is also the Second Worst Person in the World. About Darrell Lucus \nDarrell is a 30-something graduate of the University of North Carolina who considers himself a journalist of the old school. An attempt to turn him into a member of the religious right in college only succeeded in turning him into the religious right\'s worst nightmare--a charismatic Christian who is an unapologetic liberal. His desire to stand up for those who have been scared into silence only increased when he survived an abusive three-year marriage. You may know him on Daily Kos as Christian Dem in NC . Follow him on Twitter @DarrellLucus or connect with him on Facebook . Click here to buy Darrell a Mello Yello. Connect'

In [175]:
df_train[df_train["text"].isna()]

          id                                              title  ... text label
142      142  Gorafi Magazine : Entretien exclusif avec Bara...  ...  NaN     1
573      573  Le top des recherches Google passe en top des ...  ...  NaN     1
1200    1200  La Corée du Nord annonce avoir envoyé un missi...  ...  NaN     1
1911    1911  Grand-Prix du Brésil – Romain Grosjean obtient...  ...  NaN     1
2148    2148  Gorafi Magazine: Barack Obama « Je vous ai déj...  ...  NaN     1
2169    2169  #NDDL: Pour fêter l’autorisation des travaux, ...  ...  NaN     1
2793    2793  «Pourquoi je suis candidat à la présidentielle...  ...  NaN     1
3329    3329  GuinessBook : 100 millions d’Américains batten...  ...  NaN     1
3729    3729  Les Américains ne sont plus qu’à quelques heur...  ...  NaN     1
4288    4288            Hillary Clinton en 5 dates >> Le Gorafi  ...  NaN     1
4358    4358  Ne supportant plus l’ambiance de la campagne é...  ...  NaN     1
5717    5717  SPA : Enfermé depuis trois jours dans une cage...  ...  NaN     1
6215    6215  New-York – Le lâcher de confettis prévu à Time...  ...  NaN     1
6680    6680  Débat Primaire de la Droite : les Français pas...  ...  NaN     1
8649    8649  Donald Trump s’excuse pour toutes les minorité...  ...  NaN     1
8908    8908  “Notre batal a coulé” par l’homme qui fait des...  ...  NaN     1
8922    8922  La Trump Tower cambriolée – les voleurs seraie...  ...  NaN     1
9350    9350  La Russie a profité de l’élection américaine p...  ...  NaN     1
9446    9446  Trop essoufflé après avoir cherché ses affaire...  ...  NaN     1
9454    9454  Il saoule tout le monde avec son analyse polit...  ...  NaN     1
9524    9524  Elections US : les premières estimations donne...  ...  NaN     1
10466  10466  Sur Twitter, Donald Trump se félicite d’avoir ...  ...  NaN     1
10867  10867    Live Soirée présidentielle US 2016 >> Le Gorafi  ...  NaN     1
11450  11450  Vladimir Poutine est élu 45e Président des Eta...  ...  NaN     1
11486  11486  Pour booster les ventes, Dassault offre un por...  ...  NaN     1
12056  12056  Après le succès de « Mariés au premier regard ...  ...  NaN     1
12460  12460  La voyante lisait l’avenir dans les cartes ble...  ...  NaN     1
12835  12835  [Vidéo] Découvrez le Gorafi de l’Année 2017 >>...  ...  NaN     1
13020  13020         Horoscope du 21 novembre 2016 >> Le Gorafi  ...  NaN     1
13107  13107  Les gardes-frontières se mettent en alerte pou...  ...  NaN     1
13915  13915  Elle met en fuite un braqueur en lui jetant de...  ...  NaN     1
14499  14499  Primaire – François Fillon se désiste au profi...  ...  NaN     1
14933  14933  La sortie du dernier livre inédit du Gorafi éc...  ...  NaN     1
16126  16126  Vendée Globe – Un skipper fait demi-tour après...  ...  NaN     1
18479  18479  Il se fait cryogéniser dans l’espoir de voir u...  ...  NaN     1
18757  18757               Donald Trump en 5 dates >> Le Gorafi  ...  NaN     1
19157  19157  110% des Américains assurent qu’ils continuero...  ...  NaN     1
19227  19227  Des millions d’Américains recherchent massivem...  ...  NaN     1
19388  19388  Heureux et souriant, il a la chance de toujour...  ...  NaN     1

[39 rows x 5 columns]

In [176]:
df_test[df_test["text"].isna()]

         id                                              title author text
589   21389  [Vidéo] Que trouve-t-on dans « Le Gorafi de l’...    NaN  NaN
626   21426  Nous avons comparé les programmes d’Alain Jupp...    NaN  NaN
978   21778  « J’y crois encore ! » par Alain Juppé en trai...    NaN  NaN
2257  23057         Horoscope du 14 novembre 2016 >> Le Gorafi    NaN  NaN
2892  23692  Une fan demande le remboursement de son tatoua...    NaN  NaN
4736  25536  Révélations – François Fillon serait de droite...    NaN  NaN
5092  25892  Des traces de vin rouge détectées dans le Beau...    NaN  NaN

In [177]:
df_train = df_train.dropna(subset=["text","title"])
df_test = df_test.dropna(subset=["text","title"])

In [178]:
df_train["label"].value_counts()

0    10387
1     9816
Name: label, dtype: int64

In [179]:
df_train.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [180]:
df_train.isna().sum()

id           0
title        0
author    1918
text         0
label        0
dtype: int64

In [181]:
stop_words = set(stopwords.words("english"))

In [182]:
stop_words

{'a',
 'about',
 'above',
 'after',
 'again',
 'against',
 'ain',
 'all',
 'am',
 'an',
 'and',
 'any',
 'are',
 'aren',
 "aren't",
 'as',
 'at',
 'be',
 'because',
 'been',
 'before',
 'being',
 'below',
 'between',
 'both',
 'but',
 'by',
 'can',
 'couldn',
 "couldn't",
 'd',
 'did',
 'didn',
 "didn't",
 'do',
 'does',
 'doesn',
 "doesn't",
 'doing',
 'don',
 "don't",
 'down',
 'during',
 'each',
 'few',
 'for',
 'from',
 'further',
 'had',
 'hadn',
 "hadn't",
 'has',
 'hasn',
 "hasn't",
 'have',
 'haven',
 "haven't",
 'having',
 'he',
 'her',
 'here',
 'hers',
 'herself',
 'him',
 'himself',
 'his',
 'how',
 'i',
 'if',
 'in',
 'into',
 'is',
 'isn',
 "isn't",
 'it',
 "it's",
 'its',
 'itself',
 'just',
 'll',
 'm',
 'ma',
 'me',
 'mightn',
 "mightn't",
 'more',
 'most',
 'mustn',
 "mustn't",
 'my',
 'myself',
 'needn',
 "needn't",
 'no',
 'nor',
 'not',
 'now',
 'o',
 'of',
 'off',
 'on',
 'once',
 'only',
 'or',
 'other',
 'our',
 'ours',
 'ourselves',
 'out',
 'over',
 'own',
 're',
 's',
 'same',
 'shan',
 "shan't",
 'she',
 "she's",
 'should',
 "should've",
 'shouldn',
 "shouldn't",
 'so',
 'some',
 'such',
 't',
 'than',
 'that',
 "that'll",
 'the',
 'their',
 'theirs',
 'them',
 'themselves',
 'then',
 'there',
 'these',
 'they',
 'this',
 'those',
 'through',
 'to',
 'too',
 'under',
 'until',
 'up',
 've',
 'very',
 'was',
 'wasn',
 "wasn't",
 'we',
 'were',
 'weren',
 "weren't",
 'what',
 'when',
 'where',
 'which',
 'while',
 'who',
 'whom',
 'why',
 'will',
 'with',
 'won',
 "won't",
 'wouldn',
 "wouldn't",
 'y',
 'you',
 "you'd",
 "you'll",
 "you're",
 "you've",
 'your',
 'yours',
 'yourself',
 'yourselves'}

In [183]:
def preprocess_text(txt,stop_words,lem = True):
  if lem == True:
    preprocess = WordNetLemmatizer()
    txt = txt.apply(lambda x: nltk.sent_tokenize(x))
    txt = txt.apply(lambda x: " ".join([preprocess.lemmatize(w.lower()) for y in x for w in nltk.word_tokenize(y) if w.lower() not in stop_words]))
    txt = txt.apply(lambda x: re.sub("[^a-zA-Z\s]","",x))
    return txt
  else:
    preprocess = PorterStemmer()
    txt = txt.apply(lambda x: nltk.sent_tokenize(x))
    txt = txt.apply(lambda x: " ".join([preprocess.stem(w.lower()) for y in x for w in nltk.word_tokenize(y) if w.lower() not in stop_words]))
    txt = txt.apply(lambda x: re.sub("[^a-zA-Z\s]","",x))
    return txt
  return -1

In [184]:
df_train["text"]=preprocess_text(df_train["text"],stop_words,lem=True)
df_train["title"]=preprocess_text(df_train["title"],stop_words,lem=True)
df_test["text"]=preprocess_text(df_test["text"],stop_words,lem=True)
df_test["title"]=preprocess_text(df_test["title"],stop_words,lem=True)

In [186]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(df_train["text"])

In [187]:
X_test = vectorizer.transform(df_test["text"])

In [188]:
X_test

<5071x159207 sparse matrix of type '<class 'numpy.float64'>'
	with 1330228 stored elements in Compressed Sparse Row format>